<h1>
  Welcome to {{ title }}
</h1>
<h4>By: {{author}}</h4>

<h2></h2>

<nav>
  <a routerLink="/add-workout" routerLinkActive="active" ariaCurrentWhenActive="page">Add Workout</a>
</nav>

<nav>
  <a routerLink="/workout-history" routerLinkActive="active" ariaCurrentWhenActive="page">Workout History</a>
</nav>
<router-outlet></router-outlet>

<nav>
  <a routerLink="/body-part" routerLinkActive="active" ariaCurrentWhenActive="page">Workout by Body Part</a>
</nav>
<router-outlet></router-outlet>

<nav>
  <a routerLink="/resistance" routerLinkActive="active" ariaCurrentWhenActive="page">Workout by Resistance</a>
</nav>
<router-outlet></router-outlet>
