<h1>
  Welcome to {{ title }}
</h1>
<div class="tab">
  <button class="tablinks" (click)="setTab('add-workout')">Add Workout</button>
  <button class="tablinks" (click)="setTab('workout-history')">Workout History </button>
  <button class="tablinks" (click)="setTab('body-part')">Workouts by Body Part</button>
  <button class="tablinks" (click)="setTab('resistance')">Workouts by Resistance</button>
</div>
<router-outlet></router-outlet>
<app-users (eventClicked)="childEventClicked($event)"></app-users>
<app-resistance *ngIf="router.url==='/resistance'"[event]="clickedEvent"></app-resistance>
<app-workouthistory *ngIf="router.url==='/workout-history'"[event]="clickedEvent"></app-workouthistory>
<app-body-parts *ngIf="router.url==='/body-part'"[event]="clickedEvent"></app-body-parts>
<app-add-workout *ngIf="router.url==='/add-workout'" [event]="clickedEvent"></app-add-workout>
