table {
  width: 50%;
  position: absolute;
  border-collapse: collapse;
  border: solid;
}

tr:first-child {
  border-top: solid;
}

tr:last-child {
  border-bottom: solid;
}


.col {
  border: 1px solid black;
}

.row {
  border: 1px solid black;
}

tr, th, td {
  border: solid;
  border-width: 1px 0;
  border: solid;
  border-left: 1px solid black;
}
