<h2>  Body Parts:</h2>


<ul class="body-parts">
  <li *ngFor="let bodyPart of bodyParts"
      (click)="showWorkoutType(bodyPart)">
    <span>{{ bodyPart }} </span>
  </li>
</ul>



<h2 *ngIf="selectedBodyPart"> Workouts for {{selectedBodyPart}}:</h2>
<ul class="body-parts">
  <li *ngFor="let workout of returnWorkoutsByBodyPart"
      (click)="getHistoryByBodyPart(workout)">
  {{ workout}} </li>
</ul>


<h2 *ngIf="selectedWorkout"> Workout History for {{selectedWorkout}}:</h2>
<table>
  <thead>
    <tr *ngIf="selectedWorkout">
      <th style="text-align:left">ID</th>
      <th style="text-align: left">Date</th>
      <th style="text-align: left">Weight</th>
      <th style="text-align: left">Reps</th>
      <th style="text-align: left">Sets</th>
      <th style="text-align: left">Resistance</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let history of returnHistoryByWorkout; let i = index;">
      <td>{{i}}</td>
      <td>{{history[0]}}</td>
      <td>{{history[1]}}</td>
      <td>{{history[2]}}</td>
      <td>{{history[3]}}</td>
      <td>{{history[4]}}</td>
    </tr>
  </tbody>
</table>
