<h2>  Choose A Body Part:</h2>

<select #cricket (change)="updateBodyPart($event)">
  <option value="default">----</option>
  <option *ngFor="let bodyPart of bodyParts" [value]="bodyPart"
          (click)="updateBodyPart(bodyPart)">
    {{bodyPart}}
  </option>
</select>


<h2 *ngIf="selected"> Workouts for {{selected}}:</h2>
<select *ngIf="selected" #cricket (change)="getHistoryByBodyPart($event)">
  <option value="default" *ngIf="selected">----</option>
  <option *ngFor="let workout of returnWorkoutsByBodyPart" [value]="workout"
          (click)="getHistoryByBodyPart(workout)">
    {{workout}}
  </option>
</select>



<h2 *ngIf="selectedWorkout"> Workout History for {{selectedWorkout}}:</h2>
<table>
  <thead>
    <tr *ngIf="selectedWorkout">
      <th style="text-align:left">ID</th>
      <th style="text-align: left">Date</th>
      <th style="text-align: left">Weight</th>
      <th style="text-align: left">Reps</th>
      <th style="text-align: left">Sets</th>
      <th style="text-align: left">Resistance</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let history of returnHistoryByWorkout; let i = index;">
      <td>{{i}}</td>
      <td>{{history[0]}}</td>
      <td>{{history[2]}}</td>
      <td>{{history[3]}}</td>
      <td>{{history[4]}}</td>
      <td>{{history[5]}}</td>
    </tr>
  </tbody>
</table>
